* {
    padding:0;
    margin:0;
    font-family: "inter",sans-serif;
    text-decoration: none;
}
.titleBar {
    background-color: black;
    position: fixed;
    left:0;
    top:0;
    height:15vh;
    width:100vw;
}
.logoImage {
    width:15vh;
    height:15vh;
}
.articleContent {
    margin-top: 15vh;
}
.articleTitle {
    margin:20px;
    font-size: 2em;
    font-weight: 700;
    color:transparent;
    background-image: linear-gradient(to right, grey, black);
    background-clip: text;
}